@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.eot');
  src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Black.woff') format('woff'),
      url('../fonts/Lato-Black.ttf') format('truetype'),
      url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.eot');
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Light.woff') format('woff'),
      url('../fonts/Lato-Light.ttf') format('truetype'),
      url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Regular.woff') format('woff'),
      url('../fonts/Lato-Regular.ttf') format('truetype'),
      url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



* {
  box-sizing: border-box
}


:after,
:before {
  box-sizing: border-box
}

body {
  background: #FFFFFF;
  color: #000;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto
}


a,
input,
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
button,
select,
textarea,
.owl-prev,
.owl-next,
.nav-menu,
li,
img {
  transition: all .3s;
}

a,
button,
input,
textarea {
  outline: none !important
}


a {
  color: #068FFF;
  text-decoration: none;
  cursor: pointer
}

a:hover {
  color: #0d75cb
}

a,
button {
  cursor: pointer
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'lato';
  font-weight: 600;
  color: #000000;
}

h1,
h2 {
  font-size: 26px;
  line-height: 28px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

h4,
h5 {
  font-size: 18px;
  line-height: 22px;
}

p {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  color: #ffffff;
  font-family: 'Lato';
}

input,
textarea {
  box-sizing: border-box;
  font-family: 'Lato';
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

input,
textarea {
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  background: #ffffff;
  color: #000000;
  border-image: initial;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #c8c8c8;
  font-family: "Roboto";
  display: block;
  resize: none;
}

input:focus,
textarea:focus {
  border: 1px solid rgb(104 99 99 / 89%);
}

::placeholder {
  color: #FFFFFF;
}

img {
  max-width: 100%;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-family: 'Lato';
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ededed;
  transition: all 300ms;
}

.btn:hover {
  color: #068FFF;
  border-color: #068FFF;
}

.primary-btn {
  background: #068FFF;
  color: #fff;
  border-color: #068FFF;
}

.primary-btn:hover {
  color: #fff;
  background: #0d75cb;
  border-color: #0d75cb;
  box-shadow: 0 4px 12px rgb(24 59 137 / 25%);
}

.card {
  border: 1px solid #ffff;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px #00000005;
  transition: all 300ms;
}

.hdr {
  background: #FCE824;
  padding: 15px 0;
}

.hdr-single {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hdr-inner nav ul {
  display: flex;
  gap: 19px;
  align-items: center;
}

.hdr-inner a {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}


.bnr-head {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 85px 0;
  position: relative;
}

section.bnr-head:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(138.1deg, rgb(50 38 38 / 52%) 45.81%, rgb(218 175 8 / 32%) 99.72%);
}

.bnr-context {
  position: relative;
  max-width: 600px;
  width: 100%;
}

.bnr-context h1 {
  font-size: 70px;
  line-height: 90px;
  color: #ffffff;
}

.bnr-context span {
  color: #FCE824;
}

.bnr-context h1+p {
  margin-top: 20px;
}

.bnr-social-images {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-top: 20px;
}

.aboutUs {
  background-color: #FCE8240F;
  padding: 70px 0;
}

.abt-flx {
  display: flex;
  align-items: center;
  justify-content: center;
}

.abt-flx-50 {
  width: 50%;
}

.right-img {
    text-align: right;
}

.abt-context {
  position: relative;
}
.pizza-img {
  position: absolute;
  right: -60px;
  bottom: -100px;
}


.abt-context span {
  color: #FCE824;
  font-size: 57px;
  font-weight: 800;
  line-height: 70px;
  margin-right: 10px;
}

.abt-context h3 {
  line-height: 55px;
  font-size: 54px;
  color: #FCE824;
}

.abt-context h3+p {
    margin-top: 10px;
}

.abt-context p+p {
  margin-top: 10px;
}

.abt-context p {
  line-height: 28px;
  color: #000000;
  letter-spacing: 1px;
  /* font-family: Lato; */
  /* font-size: 14px; */
}


.service-head {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  position: relative;
}

.service-head:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(138.1deg, rgb(50 38 38 / 52%) 45.81%, rgb(218 175 8 / 32%) 99.72%);
}

.heading-top {
  position: relative;
  max-width: 560px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.heading-top h3{
  color: #FCE824;
  font-size: 60px;
  line-height: 65px;
  font-weight: 800;
}

.heading-top p{
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.srvs-items ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.srvs-items ul li {
  padding: 50px 25px;
  backdrop-filter: blur(15px);
  border-radius: 45px;
  text-align: center;
}

.srvsCard-img {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.srvsCard-img span {
  background-color: #FCE824;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.srvsCard-img img {
  padding: 20px;
}
.srvs-items {
  padding-top: 25px;
}


.srvsCard-context h4 {
  color: #FCE824;
  font-size: 25px;
  font-weight: 600;
  line-height: 57px;
}

.srvsCard-context p {
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 1px;
}


section.feature-section {
  background-color: #FCE8240F;
  padding: 70px;
}

.feature-flx {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-flx-50 {
  width: 50%;
}

.feature-right-contend {
  position: relative;
}


.feature-right-contend h3 {
  font-size: 54px;
  font-weight: 800;
  line-height: 55px;
  color: #FCE824;
}

.feature-right-contend p {
  color: #000000;
  line-height: 28px;
  letter-spacing: 1px;
}

.feature-right-contend h3+p {
  margin-top: 10px;
}
.feature-right-contend p+p {
  margin-top: 10px;
}
.burger-img {
  position: absolute;
  left: -74px;
  bottom: -136px;
}

section.contactUs-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  position: relative;
}

.contactUs-section:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(138.1deg, rgb(50 38 38 / 52%) 45.81%, rgb(218 175 8 / 32%) 99.72%);
}

.cnt-blr-crd {
  backdrop-filter: blur(100px);
  border-radius: 30px;
  padding: 25px;
}

.cnt-flx {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.cnt-inner-30 {
  width: 32%;
}

.cnt-inner-70 {
  width: 65%;
}

.cnt-heading h3{
  margin-bottom: 10px;
}


.input-main-flx {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: space-between;
}


.cnt-heading h3 {
  color: #FCE824;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.cnt-heading p {
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 1px;
  }

.cnt-heading-msg h3{
  margin-bottom: 20px;
  color: #FCE824;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.address-crd span {
  border-radius: 50%;
  background: rgb(255 255 255 / 10%);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-list {
  margin-top: 20px;
}
.address-crd {
  display: flex;
  align-items: center;
  gap: 10px;
}

.address-crd p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.address-list ul li {
  margin-bottom: 15px;
}


.input-flx-inner {
  width: 49%;
}

.input-flx-inner-100 {
  width: 100%;
}

.input-flx-inner-100 textarea {
  background: rgb(255 255 255 / 10%);
  border: none;
  font-family: 'Lato';
  border-radius: 8px;
  color: #ffffff;
}


.single-input input {
  background: rgb(255 255 255 / 10%);
  border: none;
  padding: 14px 14px;
  font-family: 'Lato';
  border-radius: 8px;
  width: 100%;
}


.form-btn button {
    background-color: #FCE824;
    border: none;
    border-radius: 10px;
    padding: 10px 35px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.78px;
    text-align: center;
}

footer.ftr {
  background-color: #FCE824;
  padding: 16px 0;
}

.flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-ftr p {
  color: #000000;
  font-size: 14px;
}







